body {
  background-color: #1e90ff;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.container {
  background-color: white;
  margin-top: 2.5rem;
  margin-left: 20rem;
  margin-bottom: 26px;
  width: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 2.5rem;
  border: solid black 2px;
  border-radius: 5%;
  box-shadow: 2px 2px 2px 1px black;
  font-size: 18px;
}
.list-group-item:hover {
  color: rgb(199, 20, 47);
}

@media (min-width: 175px) and (max-width: 625px) {
  .container {
    width: 90%;
    min-height: 450px;
    margin-left: 10px;
    margin-right: 7px;
    padding-left: 5px;
    border-radius: 3em;
    font-size: medium;
  }
  .display-2 {
    font-size: 28px;
  }
}
@media (min-width: 626px) and (max-width: 875px) {
  .container {
    width: 500px;
    height: 100%;
    margin-left: 15%;
    margin-right: 15%;
    padding-left: 5px;
    border-radius: 3em;
  }
  .display-2 {
    font-size: 35px;
  }
}
@media (min-width: 876px) and (max-width: 1250px) {
  .container {
    width: 35rem;
    height: 100%;
    margin-left: 20%;
    margin-right: 15%;
    padding-left: 5px;
    border-radius: 5%;
  }
}
